<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249371184452-70id2b4g5ca8knauqe8a06urkfcsv8lj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249371184452-70id2b4g5ca8knauqe8a06urkfcsv8lj</string>
	<key>API_KEY</key>
	<string>AIzaSyDvQu9WdqM7AOdcS5jVU3XP-LZIlt_3hZs</string>
	<key>GCM_SENDER_ID</key>
	<string>249371184452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personal.narson-task</string>
	<key>PROJECT_ID</key>
	<string>narson-task</string>
	<key>STORAGE_BUCKET</key>
	<string>narson-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249371184452:ios:fb338ad200bd7b62</string>
	<key>DATABASE_URL</key>
	<string>https://narson-task.firebaseio.com</string>
</dict>
</plist>